body {
    background-color: #5a3dc355;
    margin: 0;
    padding: 0;
    font-family: "Geomanist", "Helvetica", sans-serif;
}
#header {
    width: calc(100% - 20px);
    padding: 10px;
    color: white;
    background: #5a3dc3;
}
main {
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    background-color: #4324B3;
    color: white;
}
#main {
    padding: 0px 20px;
}

h1 {
    font-size: 3em;
}
#recordButton {
    background-color: #F95239;
    box-shadow: inset -5px -5px 0px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: "Geomanist", "Helvetica", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 15px 10px;
    font-size: 1.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    cursor: pointer;
}
#recordButton:hover {
    background-color: #f95339DD;
    box-shadow: inset -5px -5px 0px rgba(0, 0, 0, 0);
}
#transcript {
    width: calc(100% - 30px);
    min-height: 60px; /* Set a minimum height */
    height: auto; /* Allow it to grow */
    overflow-y: auto; /* Allow scrolling if needed */
    background-color: #4324B3;
    color: white;
    border: solid 2px #FFFFFFAA;
    font-family: "Geomanist", sans-serif;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    resize: vertical; /* Allow manual resizing */
}
input[type="checkbox"]  {
    display: none;
 } 
#claims {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom:100px;
}
.claim {
    display: flex;
    background-color: #FFFFFF;
    color: #4324B3;
    padding: 15px;
    margin: 5px 0px;
    font-size: 1.2rem;
    border-radius: 10px;
}
.claim:hover {
    background-color: #FFFFFFDD;
    cursor: pointer;
}
input[type="checkbox"]:not(:checked) + label.claim {
    background-color: #FFFFFF33;
    color: white;
    border: white;
}
@media only screen and (min-width: 900px) {
    main {
        width:33%;
        margin: auto;
    }
    h1 {
        font-size: 3rem;
        margin-top: 1rem;
        line-height: 0.9;
    }
    h2 {
        font-size: 2.4rem;
        margin-top: 1rem;
        line-height: 0.9;
    }
    h3 {
        font-size: 2.2rem;
    }
    .issue p {
        animation: marquee 12s linear infinite;
    }
}